:root{

    --pink : #f14e95;
    --bg : #0a0a0a;
    --shadow : 0 2px 2px rgb(0 0 0 / 0.5);
    --beggie : #f5f5dc;
    --sage : #77815c ;
    --darksage :#77815cb5;
    --sage50 : #4d533c;
    --darkbrown : #2c1407;
    --darkbrown50 : #2c140780;
    --darkbrown80 : #2c1407b9;
}

body{
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
}

.hero{
    min-height: 100svh;
    padding: 0;
    margin: 0;
}

.hero ::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(image/heroBG.jpg);
    background-position: center;
    background-size: cover;
    z-index: -1;
    filter: brightness(50%);
}

.hero h1, .hero h4, .hero p{
    text-shadow: var(--shadow);
}

.hero h4{
    font-size: 2rem;
    
}

.hero h1{
    font-family: 'Sacramento', cursive;
    font-size: 6rem;
}

/* .hero p{
    font-size: 1.4rem;
} */

.hero a{
    color: white;
    background-color: var(--sage);
}

.hero a:hover{
    background-color: var(--darksage);
    color: white;

}
/* 
.mynavbar{
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
}


.mynavbar .navbar-brand, .mynavbar .offcanvas-title{
    font-family: 'Sacramento', cursive;
    font-size: 3.5rem;
    font-weight: 500;
    color: var(--darkbrown);
}

.mynavbar .offcanvas{
    width: 60%;
    height: 100vh;
}

.mynavbar .nav-link{
    text-transform: uppercase;
} */

.home{
    background-color: var(--beggie);
    /* background-size: cover; */
    /* min-height: 100%; */
    /* margin-top: -6.9rem; */
    padding-top: 6rem;
    padding-bottom: 5rem;
    color: var(--darkbrown);
}


.home .small{
    font-size: 0.9rem;
    margin: 0;
}

.home h2{
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.home h3{
    /* color: #444; */
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.home p{
    font-size: 1.1rem;
    /* color: #666; */
    
}

.home .ayat{
    font-size: 0.9rem;
    color: var(--darkbrown50) ;

}

.home .couple{
    margin-top: 80px;
}

.home .couple h3{
    font-family: 'Sacramento', cursive;
    font-size: 2.2rem;
}

.home .couple img{
    width: 100%;
}

.home .heart{
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    border-radius: 50%;
    box-shadow: var(--shadow);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(65px);
}

.home .heart i{
    margin: auto;
    color: var(--pink);
}

.info{
    background-color: var(--sage);
    color: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.info .container{
    /* background-color: var(--beggie); */
    padding: 5rem;
}

.info h3{
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    margin-bottom: 2rem;

}

.info h2{
    font-size: 4rem;
    font-family: 'Sacramento', cursive;
}


.info  p{
    font-size: 1.4rem;
    margin: 0;
    /* color: var(--darkbrown80); */
}

.info a{
    margin: 1.3rem;
    font-weight: 500;
    color: black;
}

.info hr{
    width: 80%;
    height: 2px;
    background-color: var(--beggie);
}

.gallery{
    background-color: var(--darksage);
    padding: 5rem;
}

.gallery h2{
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.gifts{
    background-color: var(--darksage);
    padding: 4rem;
}

.gifts .container{
    background-color: var(--beggie);
    width: 80%;
    padding: 2rem;
}

.gifts h2{
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    margin-bottom: 5rem;
}

.gifts img{
    width: 70%;
    margin: 1.5rem;
}

.gifts p{
    font-size: 3rem;
    margin: 0;
    color: var(--darkbrown);
}

.gifts .label{
    font-size: 2.2rem;
    color: var(--darkbrown50);
}

.gifts .btn{
    background-color: var(--sage);
}

.rsvp{
    background-color: var(--sage50);
    color: white;
    padding: 6rem;
    font-size: 1.6rem;
}

.rsvp h2{
    font-family:'Sacramento';
    font-size: 5rem;
    
}

.rsvp p{
    margin-top: 5rem;
    font-size: 1.2rem;
}

footer h4{
    font-size: 3rem;
    padding-top: 5rem;
}

footer h1{
    font-size: 5rem;
    font-family: 'Sacramento', cursive;
    margin-top: 4rem;
    margin-bottom: 0;
}

footer h2{
    font-size: 2.2rem;
    margin: 0;
    padding: 0;
}

footer a{
    text-decoration: none;
    color: rgb(75, 121, 186);
}

footer a:hover{
    color: white;
}

footer .copyright{
    bottom: 0;
    font-size: 0.8rem;
}

footer li{
    display: inline;
}

footer i:hover{
    color: white;
}

footer i{
    color: rgb(75, 121, 186);
}



footer{
    min-height: 80svh;
    color: white;
    position: relative;
    /* background-image: url(image/footerBG.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat; */
}

footer ::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(image/footerBG.jpg);
    background-position: center;
    background-size: cover;
    /* background-repeat: repeat; */
    z-index: -1;
    filter: brightness(50%);
}


.audio-icon-wrapper{
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
    position: fixed;
    bottom: 2.5rem;
    right: 2rem;
    cursor: pointer;
    color: white;
    opacity: 50%;
    mix-blend-mode: difference;
    animation: rotating 4s linear infinite;
    transform-origin:center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    display: none;
}

@keyframes rotating {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}


/* Media Query */


/* Laptop */
@media (max-width: 992px){
    html{
        font-size: 75%;
    }

    .simply-countdown > .simply-section{
        padding: 47px;
    }

    .home .heart {
        display: none;
    }

}

/* Tablet */
@media (max-width: 768px){
    html{
        font-size: 65%;
    }

    .simply-countdown > .simply-section{
        padding: 40px;
        margin: 5px;
    }

    .mynavbar .nav-link{
        font-size: 1.5rem;
        text-align: center;
    }

    
}

/* Mobile Phone */
@media (max-width: 596px){
    html{
        font-size: 55%;
    }

    .simply-countdown > .simply-section{
        padding: 30px;
        margin: 3px;
    }
    
}

/* Mobile Phone S */
@media (max-width: 386px){
    html{
        font-size: 45%;
    }

    .simply-countdown > .simply-section{
        padding: 25px;
        margin: 2px;
    }
}
